
* {
    margin: 4px;
}

box {
    margin: 6px;
}

button {
    border-style: solid;
    border-width: 0px ;
    border-radius: 5px;
}

button#send_button {
    margin-right: 6px;
    margin-bottom: 6px;
}



entry#message_entry{
    margin-left: 6px;
    margin-bottom: 6px;
}

menubar {

}